{% if include.embedded != nil %}
<ul class="list">
{% else %}
<ul class="list primary">
{% endif %}
    {% for item in include.nav %}
        <li class="item">

            <div class="item-controls">
                <a href="{{ site.url }}/{{ item.url }}">
                    {% for img in site.static_files %}
                        {% if img.name == item.icon and img.path contains "img/icons" %}
                            <img src="{{ site.url }}/{{ img.path }}"/>
                        {% endif %}
                    {% endfor %}
                {% if item.hue != nil %}
                    <p style="color: {{ item.hue }}">{{ item.title }}</p>
                {% else %}
                    <p>{{ item.title }}</p>
                {% endif%}
                </a>

            {% if item.subnav %}
                <a class="button-submenu" href="#"><i class="arrow"></i></a>
            </div>
                {% include nav.html nav=item.subnav embedded=true %}
            {% else %}
            </div>
            {% endif %}
        </li>   
    {% endfor %}
</ul>