// =============================
// variables.scss
// =============================
// Contains all the useful variables for colors, sizes...

// THEME COLORS
:root{

    --c-themePrimaryLight: #EFEFEF;
    --c-themePrimaryDark:  #101010;
    --c-themeSecondaryLight: #DADADA;
    --c-themeSecondaryDark: #252525;
    --c-themeTerniaryLight: #AEAEAE;
    --c-themeTerniaryDark: #515151;
    --c-themeQuaternaryLight: #919191;
    --c-themeQuaternaryDark: #888888;

    --c-themeHueRed: #C02717;
    --c-themeHueGreen: #8EA604;
    --c-themeHueBlue: #2E86AB;
    --c-themeHueOrange: #E59500;
    --c-themeHuePurple: #9F00CE;
    --c-themeHueBrown: #230007;
}

// ELEMENT COLORS
:root{

    @media (prefers-color-scheme: light){


        --c-articleHeading: var(--c-themePrimaryDark);
        --c-articleParagraph: var(--c-themeSecondaryDark);
        --c-articleBackground: var(--c-themePrimaryLight);

        --c-pageBackground: var(--c-themePrimaryLight);

        --c-headerImageFilter: none;
        --c-menuLinks: var(--c-themePrimaryDark);
        --c-menuDepth0: var(--c-themeSecondaryLight);
        --c-menuItemsFilter: brightness(0);
        --c-menuItemsFilterHover: none;
        --c-menuShadow: rgba(0,0,0,0.5);

        --c-snippetBackgroundExternal: rgba(239, 239, 239, 0.425);
        --c-snippetBackgroundInternal: var(--c-pageBackground);
        --c-snippetHeading: var(--c-themePrimaryDark);
        --c-snippetDate: var(--c-themeSecondaryDark);
        --c-snippetAuthor: var(--c-themePrimaryDark);
        --c-snippetShadowHover: rgba(0,0,0,0.5);
        --c-snippetShadow:  rgba(0, 0, 0, 0);

        --c-postTitle: var(--c-themePrimaryDark);
        --c-postText: var(--c-themePrimaryDark);
        --c-pageTitle: var(--c-themePrimaryDark);
        --c-pageText: var(--c-themePrimaryDark);

        --c-feed-title: var(--c-themePrimaryDark);

        --c-link: var(--c-themeTerniaryDark);
        --c-linkVisited: var(--c-themeQuaternaryDark);
        --c-linkHover: var(--c-themePrimaryDark);
        --c-linkActive: var(--c-themePrimaryDark);

        --c-footerText: var(--c-themePrimaryDark);
        --c-footerImageFilter: none;
    }

    @media (prefers-color-scheme: dark){

        --c-headerImageFilter: invert(1);
        --c-menuLinks: var(--c-themePrimaryLight);
        --c-menuDepth0: var(--c-themeSecondaryLight);
        --c-menuItemsFilter: none;
        --c-menuItemsFilterHover: brightness(100); 
        --c-menuShadow: rgba(255, 255, 255, 0.2);

        --c-articleHeading: var(--c-themePrimaryLight);
        --c-articleParagraph: var(--c-themeSecondaryLight);
        --c-articleBackground: var(--c-themePrimaryDark);

        --c-snippetHeading: var(--c-themePrimaryLight);
        --c-snippetDate: var(--c-themeSecondaryLight);
        --c-snippetAuthor: var(--c-themePrimaryLight);

        --c-snippetShadowHover: rgba(255, 255, 255, 0.5);
        --c-snippetShadow:  rgba(0, 0, 0, 0);

        --c-postTitle: var(--c-themePrimaryLight);
        --c-postText: var(--c-themePrimaryLight);
        --c-pageTitle: var(--c-themePrimaryLight);
        --c-pageText: var(--c-themePrimaryLight);

        --c-feed-title: var(--c-themePrimaryLight);

        --c-pageBackground: var(--c-themePrimaryDark);

        --c-footerText: var(--c-themePrimaryLight);
        --c-footerImageFilter: invert(1);
    }
    
}

// SIZES
:root{
    
    --s-p: 1rem;
}

// FONTS
:root{

    --f-header: Roboto;
    --f-text: Roboto Slab;
}

// FIXED SIZES
$s-menuItemWidth: 8rem;
$s-menuItemPadding: 1rem;
$s-m-menuMaxHeight: 1000px;

// TRANSITIONS
$t-smooth: ease .5s;