---
layout: default
---

<section class="feed">
    <section class="feed__description">
        {% if page.title != nil %}
            <h1>{{ page.title }}</h1>
        {% endif %}
        {% if page.description != nil %}
            <p>{{ page.description }}</p>
        {% endif %}
    </section>
    
    {% if page.lazy != true %}    
        {% for post in site.posts %}
        <section class="snippet">
                {% for category in post.category %}
                    {% if page.category contains category %}
                        {% include snippet.html post=post %}
                        {% break %}
                    {% endif %}
                {% endfor %}
        </section>
        {% endfor %}
    {% else %}
        {% for post in site.posts %}
            <section class="snippet-link">
                {% assign url = post.path |  split: "." | first | split: "/" | last %}
                {{ site.url }}/assets/snippets/{{ url }}.html
            </section>
        {% endfor %}
    {% endif %}
</section>